GROQ_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
GOOGLE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
MISTRAL_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
HF_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxx"
HUGGINGFACEHUB_API_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxx"
TAVILY_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
OPENWEATHER_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxx"
HF_HUB_OFFLINE=1